<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>musicPieManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD440EA71DE59E01000A85D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD440EBB1DE59E01000A85D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD440EC61DE59E01000A85D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
